body{
   overflow: none
}
.admin_div{
   height:250px;
   width:280px;
   margin:50px auto;
}
.adm_t{
   float:right;
}
.adm_btn{
   width:100%;
   text-align:center;
   height: 30px;
   margin-top:10px;
}
#submit{
   width:100px;
   border-radius:5px;
   border:solid 1px;
}
.form_div{
	border-radius:5px;
	background-color:rgba(207,207,207,0.6);
	padding:10px
}
.msg_t{
	color:red;
	background-color:rgba(207,207,207,0.6);
}